# Node
node_modules/
dist/
build/
.env
.env.local

# Python
__pycache__/
*.pyc
.venv/

# Firebase / Functions
functions/lib/
functions/node_modules/

# Replit
.replit
*.replit

# VSCode / IDEs
.vscode/
.idea/

# OS
.DS_Store

# SDKs
google-cloud-sdk/
google-cloud-cli-*.tar.gz
