modules = ["nodejs-20", "python-3.11", "web"]
run = "npm run dev"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "npm run dev"]

[[ports]]
localPort = 3000
externalPort = 80

[[ports]]
localPort = 5000
externalPort = 5000

[[ports]]
localPort = 8243
externalPort = 3001

[[ports]]
localPort = 8448
externalPort = 3000

[workflows]
runButton = "Dev Frontend"

[[workflows.workflow]]
name = "Start Express Server"
author = 40523456
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node server.js"

[[workflows.workflow]]
name = "Run Backend"
author = 40523456
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd backend && uvicorn app.main:app --host 0.0.0.0 --port 5000 --reload"

[[workflows.workflow]]
name = "Dev Frontend"
author = 40523456
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
